.badge {
    background-color: tomato;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 600;
}

.badge-dot {
    background-color: tomato;
    width: 6px;
    height: 6px;
    border-radius: 3px;
}

.badge-warning {
    width: 16px;
    height: 16px;
    border: 1px solid tomato;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: tomato;
    position: absolute;
    left: 115px;
    bottom: 0px;
}